GOERLI_RPC_URL = <your rpc>
PRIVATE_KEY = "5a8b01166b13e1cdc943e0797669903ec35ca286f2415c753879bfa7507f197b"
POLYGON_MUMBAI_RPC_URL = <your rpc>
ETHERSCAN_API_KEY = <your etherscan api key>
COINMARKETCAP_API_KEY = <your coinmarket api key>
CONTRACT_ADDRESS = <your deployed contract address>